
html
{
scroll-behavior: smooth;
font-size: 62.5%;
}


body {

font-family: 'Montserrat';
background-color: $bodyColor;
background-color: no-repeat $bodyColor ;
color: $mainTxtColor;
min-height: 100vh;
font-weight: 400;

margin-top:7.5rem ;
}


@media (min-width: 767.98px)
{
	body {
	margin-top:9rem ;
}
} 

@media (min-width: 1199.98px)
{
	body {
	margin-top:13rem ;
}
} 


.content{

	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	max-width:#{$maxWidth}px;
	@include fontSize(1.4, 1.6);

}

.logo>img
{

object-fit: contain;
height: 5vw;
max-height: 5rem

}

.main
{   
	@include fontSize(1.6, 2);
	margin-top: 6em;
}

.txt-color__minor
{
color:$minorTxtColor ;
}