// @font-face {
//   font-family: 'Montserrat';
//   src: url(../font/Montserrat-Regular.ttf);
// }

/* @font-face {
  font-family: 'Open Sans Light';
  src: url(/font/OpenSans-Light.ttf);
} */

/*@font-face {
  font-family: 'Open Sans Bold';
  src: url(http://horoshiyhozyain.ru/font/OpenSans-Bold.ttf), format('ttf');
}*/


